@import url("https://use.typekit.net/uly4rqu.css");

:root {
    --blue: #103152;
    --red: #E55757;
    --sand: #E6DAB7;
}

p {
    color: var(--sand);
}


* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background: var(--red);
}

::-moz-selection {
    background: var(--red);
}

body {
    margin: 0;
    background-color: var(--blue);
}

header {
    padding: 0 80px;
    max-width: 1300px;
}

header nav a {
    text-decoration: none;
    line-height: 1;

    font-family: effra, sans-serif;
    font-weight: 400;
    font-style: normal;
    float: right;

    text-transform: uppercase;
    text-align: center;
    padding: 20px 15px 18px 15px;

    position: relative;
    z-index: 0;
    display: inline-block;
    overflow: hidden;
    color: var(--sand);
    vertical-align: bottom;
    transition: color .3s ease-out;
}

header nav a::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    height: 100%;
    background-color: var(--red);
    transition: transform .25s ease-out;
}

header nav a:hover {
    color: var(--blue);
    text-decoration: none;
}

header nav a:hover::before {
    transform: translateY(0);
    transition: transform .25s ease-out;
}

header nav .nav_active {
    text-decoration: underline;
}

section {
    padding: 60px 80px;
}

.red_section {
    background-color: var(--red);
}

.content {
    margin: 0 auto;
    max-width: 1300px;
}

img {
    width: 100%;
    vertical-align: middle;
}

video {
    width: 100%;
    vertical-align: middle;
}

h1 {
    font-family: effra, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 13vw;
    line-height: 0.9;
    text-transform: uppercase;
    margin: 0;
    word-wrap: break-word;
    color: var(--sand);
}

h2,
h3 {
    font-family: effra, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0;
    color: var(--sand);
}

#anchor {
    padding-top: 50px;
    margin-top: -50px;
}

p,
ul {
    font-family: prestige-elite-std, monospace;
    font-weight: 700;
    font-style: normal;
    margin: 0 0 1.5em 0;
    color: var(--sand);
}

.underrubrik {
    text-transform: uppercase;
}

p span {
    color: var(--red);
}

.blue {
    color: var(--blue);
}

.blue::selection {
    background: var(--blue);
    color: var(--sand)
}

.blue::-moz-selection {
    background: var(--blue);
    color: var(--sand)
}

a {
    text-decoration: none;
    line-height: 1;
    color: var(--red);
    outline: none;
}

.link {
    position: relative;
    z-index: 0;
    display: inline-block;
    padding-bottom: 1.5px;
    overflow: hidden;
    vertical-align: bottom;
    transition: color .3s ease-out;
}

.link::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(calc(100% - 2px));
    width: 100%;
    height: 100%;
    background-color: var(--red);
    transition: transform .25s ease-out;
}

.link:hover {
    color: var(--blue);
}

.link:hover::before {
    transform: translateY(0);
    transition: transform .25s ease-out;
}









a::selection {
    color: var(--blue)
}

a::-moz-selection {
    color: var(--blue)
}

.text-width-66 {
    width: 66%;
}

.button {
    font-family: effra, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--red);
    border: 2px solid var(--red);
    padding: 10px 20px 5px 20px;
    display: table;
    margin-top: 30px;
}

.button:hover {
    background-color: var(--red);
    color: var(--blue);
}

.button_center {
    margin-left: auto;
    margin-right: auto;
}

.button_blue {
    color: var(--blue);
    border: 2px solid var(--blue);
}

.button_blue:hover {
    background-color: var(--blue);
    color: var(--red);
}
