@import url("https://use.typekit.net/uly4rqu.css");

:root {
    --blue: #103152;
    --red: #E55757;
    --sand: #E6DAB7;
}

p {
    color: var(--sand);
}


* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background: var(--red);
}

::-moz-selection {
    background: var(--red);
}

body {
    margin: 0;
    background-color: var(--blue);
}

section {
    padding: 40px 20px;
}

#first_section {
    padding-top: 60px;
}

.red_section {
    background-color: var(--red);
}

.content {
    margin: 0 auto;
    max-width: 1300px;
}

img {
    width: 100%;
    vertical-align: middle;
}

video {
    width: 100%;
    vertical-align: middle;
}

h1 {
    font-family: effra, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 13vw;
    line-height: 0.9;
    text-transform: uppercase;
    margin: 0;
    word-wrap: break-word;
    color: var(--sand);
}

h2,
h3 {
    font-family: effra, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0;
    color: var(--sand);
}

p,
ul {
    font-family: prestige-elite-std, monospace;
    font-weight: 700;
    font-style: normal;
    margin: 0 0 1.5em 0;
    color: var(--sand);
}

p span {
    color: var(--red);
}

.blue {
    color: var(--blue);
}

.blue::selection {
    background: var(--blue);
    color: var(--sand)
}

.blue::-moz-selection {
    background: var(--blue);
    color: var(--sand)
}

a {
    text-decoration: none;
    line-height: 1;
    color: var(--red);
    outline: none;
}

.link {
    position: relative;
    z-index: 0;
    display: inline-block;
    padding-bottom: 1.5px;
    overflow: hidden;
    vertical-align: bottom;
    transition: color .3s ease-out;
}

.link::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(calc(100% - 2px));
    width: 100%;
    height: 100%;
    background-color: var(--red);
    transition: transform .25s ease-out;
}

.link:hover {
    color: var(--blue);
}

.link:hover::before {
    transform: translateY(0);
    transition: transform .25s ease-out;
}

.link_blue {
    color: var(--blue);
}

.link_blue::before {
    background-color: var(--blue);
}

.link:hover {
    color: var(--red);
}

.link_blue::-moz-selection {
    background: var(--blue);
    color: var(--red)
}

a::selection {
    color: var(--blue)
}

a::-moz-selection {
    color: var(--blue)
}

.text-width-66 {
    width: 100%;
}

.button {
    font-family: effra, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--red);
    border: 2px solid var(--red);
    padding: 10px 20px 5px 20px;
    display: table;
    margin-top: 30px;

    position: relative;
    z-index: 0;
    display: inline-block;
    padding-bottom: 1.5px;
    overflow: hidden;
    vertical-align: bottom;
    transition: color .3s ease-out;
}

.button:hover {
    color: var(--blue);
}

.button::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    background-color: var(--red);
    transition: transform .25s ease-out;
}

.button:hover {
    color: var(--blue);
}

.button:hover::before {
    transform: translateY(0);
    transition: transform .25s ease-out;
}

.button_center_container {
    text-align: center;
}

.button_blue {
    color: var(--blue);
    border: 2px solid var(--blue);
}

.button_blue::before {
    background-color: var(--blue);
}

.button_blue:hover {
    color: var(--red);
}

/*--HEADER--*/

header {
    position: absolute;
    z-index: 2;
}

header .hidden {
    display: none;
    transform: scale(0);
    transform: translateX(-100%);
    opacity: 0;
}

header #menu {
    list-style-type: none;
    text-align: center;
    padding-top: 100px;
    position: fixed;
    width: 100%;
    height: 100%;
    font-size: 2em;
    background-color: var(--blue);
}

header .row {
    display: block;
    top: 0;
    width: 100vw;
    padding: 0 20px;
}

.header_fixed {
    position: fixed;
}

header .nav_menu {
    justify-content: right;
    display: flex;
}

header #menuknap {
    font-size: 3em;
    margin: auto 0 auto 12px;
    max-height: 70px;
    text-align: right;
    color: var(--red);
    cursor: pointer;
}

header a {
    display: block;
    text-decoration: none;
    line-height: 2;
    font-family: effra, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.menu_links {
    display: flex;
    flex-direction: column-reverse;
}

.overlay_photo {
    height: 56.25vw;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.overlay_photo a {
    font-size: 20px;
    font-weight: 700px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(16, 49, 82, 0.4);
    width: 100%;
    height: 100%;
}

.overlay_photo a:hover {
    background: rgba(81, 106, 92, 0);
}


@media (min-width:680px) {
    header {
        padding: 0 80px;
        max-width: 1300px;
        position: static;
    }

    .menu_links {
        display: block;
        flex-direction: column;
    }

    header #menu {
        padding-top: 0;
        position: static;
        top: 0;
        height: 100%;
        background-color: none;
    }

    header .hidden {
        display: block;
        transform: scale(none);
        transform: translateX(0%);
        opacity: 1;
    }

    header .row {
        display: none;
        transform: scale(0);
        transform: translateX(-100%);
        opacity: 0;
    }

    header nav a {
        line-height: 1;
        float: right;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        padding: 20px 15px 18px 15px;

        position: relative;
        z-index: 0;
        display: inline-block;
        overflow: hidden;
        color: var(--sand);
        vertical-align: bottom;
        transition: color .3s ease-out;
    }

    header nav a::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        width: 100%;
        height: 100%;
        background-color: var(--red);
        transition: transform .25s ease-out;
    }

    header nav a:hover {
        color: var(--blue);
        text-decoration: none;
    }

    header nav a:hover::before {
        transform: translateY(0);
        transition: transform .25s ease-out;
    }

    header nav .nav_active {
        text-decoration: underline;
    }

    section {
        padding: 60px 80px;
    }

    .text-width-66 {
        width: 66%;
    }

    .overlay_photo {
        height: 23vw;
    }

}
