.h1_victor {
    font-size: 18vw;
}

h2 {
    font-weight: 900;
    font-size: 13vw;
    line-height: 0.9;
}

#first_section {
    padding: 0 80px;
    min-height: 100vh;
}

#first_section .button {
    margin-bottom: 30px;

}

#first_section .content {
    padding-top: 60px;
}

#first_section img {
    width: auto;
    height: 100%;

    height: -moz-calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    height: calc(100% - 60px);


    float: right;
    right: 80px;
    position: absolute;
    object-position: top;
    object-fit: cover;
}

#second_section {
    background-color: var(--red);
}

#second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
}

#second_section img {
    object-fit: cover;
    object-position: center center;
}

#second_section .button {
    display: table;
    margin-left: auto;
    margin-right: auto;

}

#third_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 5px;
}
