.navigation_on_site a {
    text-decoration: none;
    line-height: 1;

    font-family: effra, sans-serif;
    font-weight: 400;
    font-style: normal;

    text-transform: uppercase;
    text-align: center;
    border: solid 1px var(--red);
    padding: 5px 15px 1px 15px;
    margin: 10px 20px 0 0;
    display: inline-block;
    color: var(--red);
}

#second_section .scroll_touch {
    position: absolute;
    margin: 50px auto 0 43%;
    height: 180px;
    width: auto;
    pointer-events: none;
    animation-name: scroll_touch_kf;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes scroll_touch_kf {
    0% {
        left: 80px;
    }

    17% {
        left: 160px;
    }

    50% {
        left: 0px;
    }

    83% {
        left: 160px;
    }

    99% {
        left: 80px;
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.image_container {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    height: 40vh;
    scrollbar-width: none;
}

.image_container img {
    width: auto;
    height: 100%;
}

#third_section .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.img_stack {
    margin-top: 20px;
}
